.thumbnail img {
    width: 100%;  
}

.thumbnail {
    padding: 9px;
}

.thumbnail .caption-full {
    padding: 9px;
}

.delete-form {
    display: inline;
}

.formPlacement {
    width: 30%;
    margin: 25px auto;
}



.padTop {
    padding-top: 4rem;
}

.imgSize {
    min-height: 200px;
    max-height: 200px;
}

.orange {
    color: orange;
}

.emptyStar {
    color: white;
}

#map {
    height: 400px;
    width: 100%;
}

@media only screen and (max-width: 650px) {
    .inputMob {
        width: 50%;
    }
}